

<p>
			<article>
				<h3>Get in touch!!</h3>
				<p class="one">
			
				<img src="/assets/telephone.jpg"  alt="phone"> <span class="five">Phone:</span> (123)456-7890 <br><br><br>
				
				<img src="/assets/fax.png"  alt="fax"> <span class="five">Fax:</span> (123)456-7891 <br><br><br>
				<img src="/assets/Mail1.png"  alt="mail"><span class="five">Email:</span> <a href="mailto:abc@etsydemo.com" title="Click here to send email">abc@etsydemo.com</a><br><br>
				

				</p>
			</article>	
		</p>
		
		
	   <p>
		<article>
			<h3>Location:</h3>
			<address>
				<div class="five">Etsy Demo</div>
				2711 N 1st St, <br>
				San Jose, CA 95134 <br>
				<a href="https://www.google.com/maps/place/2711+N+1st+St,+San+Jose,+CA+95134/@37.3891256,-121.9302535,17z/data=!4m2!3m1!1s0x808fc963e55f1d63:0x8fdc9bc7b95c90ac?hl=en" title="Address Link" target="_blank">Directions to Etsy Demo</a>
			</address>
		</article>
		</p>
